<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GET CRUD</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />

        <!-- jQuery library -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Firstnam</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
               
                <% for(let i=0; i<dataTable.length; i++) {%>
                    <tr>
                        <td><%= dataTable[i].email %></td>
                        <td><%= dataTable[i].firstName %></td>
                        <td><%= dataTable[i].lastName %></td>
                        <td><%= dataTable[i].address %></td>
                        <td>
                            <a href="/edit-crud?id=<%= dataTable[i].id %>" type="button" class="btn btn-primary">Edit</a>
                            <a href="/delete-crud?id=<%= dataTable[i].id %>" type="button" class="btn btn-secondary">Delete</button>
                        </td>

                      </tr>
                 <% } %>
            </tbody>
        </table>
    </body>
</html>
